<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create shop</title>
    <link rel="stylesheet" href="../shop.css">
</head>
<body>
<div><h1>Creating shop</h1></div>
<div>
    <form action="/shops" method="post">
<!--        Item: <input type="text" name="item">-->
        <div class="price-style">
            <label for="item">Item:</label>
            <input type="text" id="item" name="item">
        </div>
        <div style="margin: 5px;background-color: blue;">
            <label for="price">Price:</label>
            <input type="text" id="price" name="price">
        </div>
        <button type="submit">SAVE</button>
    </form>
</div>
</body>
</html>