<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a book</title>
</head>
<body>
<div>
    <h1>Create a book</h1>
</div>
<div>
    <form action="#" th:action="@{/books}" th:object="${book}" method="post">
        <div>
            Title: <input type="text" th:field="${book.title}">
            <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</td>
        </div>
        <div>
            Pages: <input type="text" th:field="${book.pages}">
            <td th:if="${#fields.hasErrors('pages')}" th:errors="*{pages}">Pages Error</td>
        </div>
        <div>
            <button type="submit">Save</button>
        </div>
    </form>
</div>
</body>
</html>