<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cat</title>
</head>
<body>
<div>
  <h1>Create a cat</h1>
</div>
<div>
  <form action="#" th:action="@{/cats}" th:object="${cat}" method="post">
<!--    Name: <input type="text" name="name">-->
    Name: <input type="text" th:field="${cat.name}">
<!--    Tag: <input type="text" name="tag">-->
    Tag: <input type="text" th:field="*{tag}">
    <button type="submit">SAVE</button>
  </form>
</div>
<!--<div>-->
<!--    <form action="/cats" method="post">-->
<!--        Name: <input type="text" name="name">-->
<!--        Tag: <input type="text" name="tag">-->
<!--        <button type="submit">SAVE</button>-->
<!--    </form>-->
<!--</div>-->
</body>
</html>